.Recipe-Image {
    width: 400px;
}

.Recipe-StepsTitle {
    display: flex;
    justify-content: space-between;
}

.Recipe-Steps.ant-steps {
    margin-top: 32px;
}

.Recipe-Ingredients {
    display: flex;
    flex-direction: column;
}

.Recipe-Ingredient {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 5px;

    padding: 16px;
    margin-bottom: 8px;
}

.Recipe-Ingredient_checked {
    opacity: 0.5;
}

.Recipe-IngredientImage {
    margin-right: 16px;
    width: 50px;
    height: 50px;
}

.Recipe-InfoBlock.ant-alert {
    min-width: 500px;

    margin-left: 64px;
}

.Recipe-Information {
    display: flex;
    justify-content: space-between;
}

.Recipe-Checkbox {
    width: 100%;
}

.Recipe-Checkbox .ant-checkbox {
    margin-right: 16px;
}

.Recipe-Spin {
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
    width: 100%;
}