.RecipesPage-SearchInput.ant-select {
    width: 500px;
}

.RecipesPage-AutocompleteChoice {
    display: flex;
    justify-content: space-between;
}

.RecipesPage-Spin {
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
    width: 100%;
}

.RecipesPage-Filter {
    margin-bottom: 16px;
}

.RecipesPage-Label {
    display: inline-block;
    width: 150px;
}

.RecipesPage-Input {
    width: 400px;
}

.RecipesPage-Input_type_ingredients {
    margin-bottom: 8px;
}

.RecipesPage-ChosenIngredients {
    margin-bottom: 16px;
    margin-left: 150px;
}