.Example {
    width: 70px;
    height: 70px;
    background: url("../../assets/cute-cloud.png");
    background-size: 70px;
}

.Header {
    height: 64px;
    padding: 0 64px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 0 2px 8px #f0f1f2;
    background-color: #ffffff;
}